
.transfer-form-container {
  background: linear-gradient(to right, #b6a00fb0, rgb(29, 98, 64));
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.transfer-form h2 {
  text-align: center;
  color: black;
  margin-bottom: 20px;
}

.transfer-form .form-group {
  margin-bottom: 15px;
}

.transfer-form label {
  display: block;
  margin-bottom: 5px;
  color:black;
}

.transfer-form input,
.transfer-form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.transfer-form button {
  width: 100%;
  padding: 10px;
  background-color: goldenrod;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: larger;
}

.transfer-form button:hover {
  background-color: rgb(5, 64, 5);
  color: #fff;
}


